.login {
}


.login .login-description{
  margin-bottom:30px;
}


.login ion-icon{
  text-align:center;
  font-size:200px;
  margin:auto;
}


.login .login-form{

}


.right{
  float:right;
}
.left{
  float:left;
}


.avatar{
  font-size:30px;
  padding-right:10px;
}

.login .field{

}
