.login {

}


.login .login-description{
  margin-bottom:30px;
}



.login .login-form{

}


.right{
  float:right;
}
.left{
  float:left;
}

.login .incorrect{
  color:red;
  text-align: center;
}

.avatar{
  font-size:30px;
  padding-right:10px;
}

.login .field{

}
