<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedUser.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="item-details">



    <ion-title text-center *ngIf="selectedUser">
      <img src={{selectedUser.picture}} alt="user's image" id="profile-img">
      {{selectedUser.name}}
    </ion-title>
    <ion-list class="list">
      <ion-item *ngIf="selectedUser.age">
        age: {{selectedUser.age}}
      </ion-item>
      <ion-item *ngIf="selectedUser.gender">
        gender: {{selectedUser.gender}}
      </ion-item>
      <ion-item *ngIf="selectedUser.company">
        company: {{selectedUser.company}}
      </ion-item>
      <ion-item *ngIf="selectedUser.address">
        address: {{selectedUser.address}}
      </ion-item>
    </ion-list>

  <ion-card class="card">
    <p *ngIf="selectedUser">
      {{selectedUser.about}}
    </p>
  </ion-card>

  <ion-card class="card">
    <ion-list *ngIf="selectedUser.friends">
      <ion-card-title>Friends:</ion-card-title>
      <ion-item *ngFor="let friend of selectedUser.friends">
        {{friend.name}}
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
