page-item-details {



  img {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
  }

  .item-details{
    background-color: #427feb;
  }

  .card{
    background-color: #4f7ffc;
  }

  p{
    margin: 5%;
    text-align: justify;
  }
}
