page-item-details {



  img {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
  }

  .item-details{
    background-color: #63a9ff;
  }

  .card{
    padding:5%;

  }

  .list{
    margin: 5%
  }

  #profile-img{
    border-radius: 150px;
  }

  p{
    margin: 5%;
    text-align: justify;
  }
}
